@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
    font-family: 'Inconsolata', monospace;
    color: white;
    background-color: rgb(30, 30, 30);
    margin: 0px;
}

nav {
    width: 100vw;
    height: 36px;
    background-color: rgb(15, 15, 15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    user-select: none;
    -webkit-app-region: drag;
}

#iconCont {
    height: 100%;
    width: 150px;
    -webkit-app-region: no-drag;
    user-select: all;
}

#icon:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#icon {
    height: 100%;
    width: auto;
    box-sizing: border-box;
    padding: 8px;
}

#title {
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    user-select: none;
}

#btnCont {
    width: fit-content;
    height: 100%;
    display: flex;
    -webkit-app-region: no-drag;
    user-select: all;
}

.btn {
    width: 50px;
    height: 100%;
    border: none;
    font-size: 25px;
    background: none;
    color: white;
    font-weight: 100;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background-color: rgba(128, 128, 128, 0.35);
}

.close:hover {
    background-color: rgba(255, 0, 0, 0.8);
}